@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    background-color: #000000;
    height: 100%;
    scroll-behavior: smooth;
}

html {
    height: 100%;
  }

body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#head {
    width: 260px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #ffffff;
    color:#000000;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
    position:fixed;
    top:0px;   
}

#score {
    width: 260px;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    font-family: 'Saira', sans-serif;
    display: flex;
    flex-direction:row;
    position:fixed;
    top:50px;
}

#lives, #user-score{
    margin: 5px;
}

#gameStatus{
    color:#ff0000;    
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    z-index: 100;
    top:350px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

#start{
    width: 260px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #ffffff;
    color:#000000;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
    position:fixed;
    top:85px;
}
#restart{
    width: 260px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #ffffff;
    color:#000000;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
    position:fixed;
    top:105px; 
}
#gameplace, .gride-snake {
    position:fixed;
    top:140px;
    height: 600px;
    width: 600px;    
    background-color: #000000;
    display: grid;
    border: 1px solid #817d7d;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px; 
    grid-auto-rows: 30px;
}

.square{
    border: 1px solid #817d7d;
    
}
.score{
    width:260px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Saira", sans-serif;
    display: flex;
    flex-direction: row;
    position: fixed;
    top:60px;
}


@media screen and (max-width: 600px) {
    
    #gameplace, #snakeCanvas{
        top:60px;
        height: 400px;
        width: 400px;    
        border: 1px solid #ffffff;
        background-color: #000000;
    }
   
  }